html
{
	scroll-behavior: smooth;
}
body
{
	background-color: #17252a;
	margin:0;
}
.nav-container
{
	width: 90%;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 5%;
	/*text-align: center;*/
}

.nav-button
{
	font-family: sans-serif;
	background-color: #3AAFA9;
	color:#FEFFFF;
	font-size: 20px;
	padding:3px 20px 3px;
	border-radius:5px;
	text-decoration: none;
	transition: 0.2s;
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.nav-button:hover
{
	background-color: #2B7A78;
	color:#DEF2F1;
}
.container
{
	width: 70%;
	margin: auto;
	text-align: center;
}

.logo
{
	display:inline-block;
	width: 10%;
	vertical-align: middle;
	text-align: left;
}
.logo img
{
	height: 120px;

}

.itpg
{
	display:inline-block;
	width: 10%;
	vertical-align: middle;
	text-align: left;
	padding-right:300px;
}
.itpg img
{
	height: 120px;
	border-radius: 100px;

}


.timeText
{
	font-family: sans-serif;
	text-align: center;
	font-size: 40px;
	color: #FEFFFF;
}

.timeline
{
	width: 80%;
	
}

.nav
{
	text-align: right;
	display:inline-block;
	width:60%;
}

.nav-list
{
	padding-left:0px;
	text-align:center;
	background-color: #3AAFA9;
	width: 100%;
	border-radius: 100px;
}

.nav-list li
{
	display:inline-block;
	padding:0px 20px 0px;
	

}

.nav-list li a 
{
	color: #FEFFFF;
	text-transform: uppercase;
	text-decoration:none;
	font-size:26px;
	transition: 0.2s;
}

.nav-list li a:hover
{
	color: #DEF2F1;
}

.parallax
{
	width:100%;
	background-image:url("../img/varna.jpeg");
	min-height:600px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	margin-bottom: 50px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/varna.jpeg");
}

.line
{
	border-color:#3AAfA9 ;
	width:60% ;
}

.image
{
	display: inline-block;
	width: 45%;
}

.karti
{
	display: inline-block;
	width: 45%;
	padding-right: 25px;
	padding-left:25px;
	
}

.karti img
{
	margin-top: 60px;
	width: 100%;
	border:3px solid #3AAFA9;
	border-radius: 50px;
	margin-bottom: 60px;
	height: 340px;
}

.image img
{
	margin-top: 60px;
	width: 100%;
	border:3px solid #3AAFA9;
	border-radius: 50px;
	margin-bottom: 60px;
}

.skapanTekst
{
	vertical-align: top;
	display:;
	width:100%;
	/*padding:30px;
	margin-bottom: 60px;*/
}

.skapanTekst p
{
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
	color: #FEFFFF;
}

.skapanTekst h2
{
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #FEFFFF;
}

.info
{
	vertical-align: top;
	display: inline-block;
	width:45%;
	padding:30px;
	margin-bottom: 60px;
}

.info p
{
	font-family: sans-serif;
	text-align: justify;
	font-size: 20px;
	color: #FEFFFF;

}

.info h2
{
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #FEFFFF;
}


.menu-heading
{
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-size: 32px;
}

.menu-item
{
	background-color: #2B7A78;
	width: 22%;
	text-align: center;
	padding:10px;
	margin-top: 40px;
	border-radius: 5px;
	border:1px solid #3AAFA9;
	margin-bottom:40px;
	display:inline-block;
	margin:6px;
}

.menu-item img
{
	width: 100%;
	height:100%;
}

.menu-item h3
{
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 26px;
}

.red-btn
{
	background-color: #53a2fc;
	color:white;
	font-size: 20px;
	padding:5px 30px 3px;
	border-radius:5px;
	text-decoration: none;
	transition: 0.2s;
	margin-bottom: 5px;
}

.blue-btn
{
	background-color: #53a2fc;
	color:white;
	font-size: 20px;
	padding:5px 30px 3px;
	border-radius:5px;
	text-decoration: none;
	transition: 0.2s;
	margin-bottom: 5px;
}

.blue-btn:hover
{
	background-color: white;
	color:#53a2fc;
}

.red-btn:hover
{
	background-color: #bfddff;
	color:#53a2fc;
}

.delivery-box
{
	width:30%;
	display: inline-block;
	margin:60px 20px 60px;
	text-align: center;
}

.delivery-img
{
	display:inline-block;
	width:25%;
	text-align: right;
}

.delivery-img img 
{
	width:35%;
	vertical-align: middle;
}

.delivery-text
{
	display: inline-block;
	width: 40%;
	text-align: left;
}

.delivery-box h2
{
	text-transform: uppercase;
	text-align: center;
}

.delivery-text p 
{
	font-size: 18px;
	font-style: italic;
}

form
{
	width: 65%;
	text-align: center;
	margin: auto;
	margin-bottom: 60px;
}

input,textarea
{
	display: block;
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 12px;
	border-width: 2px solid #cccccc;
}

.formHeading
{
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 50px;
}

textarea
{
	margin-bottom: 30px;
}

footer p
{
	/*text-align: center;
	padding: 20px;
	margin:0;*/
}

footer
{
	/*background-color: #53a2fc;*/

}

.wave
{
	width: 100%;
	height: 250px;
}
